[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "imgui_club"]
	path = imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "chip8Archive"]
	path = chip8Archive
	url = https://github.com/JohnEarnest/chip8Archive
